Duke:

body { background: LightSkyBlue;
		color: navy;
		font-size: 40pt; }

body { font-family: 'Shadows Into Light', cursive; }

p { font-family: 'Shadows Into Light', cursive; }

h1 { font-size: 40pt;
	color: navy }
	

