Friends/Summer:

body { background: DarkSeaGreen;
		color: DarkSlateGrey
		font-size: 40pt; }
		
body { font-family: 'Amatic SC', cursive; }

h1 { font-size: 40 pt;
	color: DarkSlateGrey }


p { font-family: 'Amatic SC', cursive; }