Sports:

body { background: RoyalBlue
		color: Snow
		font-size: 40pt; }
	
	body { font-family: 'Pathway Gothic One', sans-serif; }
	
h1 { font-size: 40 pt;
	color: Snow }
	
p { font-family: 'Pathway Gothic One', sans-serif; }